
body{
    margin: 0;
}

#bs-override {
    font-family: FreeSans;
    font-weight: bold;
    color: #ff1243;
    text-align: center;
    font-size: 25px;
}

h4 {
    font-family: serif;
    font-weight: bold;
    color: #ff1243;
    text-align: center;
    font-size: 15px;
}

#graph {
    display: inline-block;
    height: 100%;
    width: 100%;
}

#patterns_svg {
    position:relative;
}

#content {
    height: 1000px;
}
.progress-fraction {
    color: #ff1243;
    text-align: center;
    font-size: 15px;
}
